﻿@page "/"
@inject UserService UserService
@inject IConfiguration Configuration


@implements IDisposable

<div class="form-group">
    <input size="50" @bind="userName" />
    <button disabled="@(UserService.IsLogged || string.IsNullOrEmpty(userName) ? true : false)" @onclick="Login">Login</button>
    <button disabled="@(!UserService.IsLogged)" @onclick="Logout">Logout</button>
</div>


<div class="form-group">
    <label>
        <input size="50" @bind="text" />
        <button disabled="@(UserService.IsLogged && !string.IsNullOrEmpty(text) ? false : true)" @onclick="Send">Send</button>
    </label>
</div>

<div>
    Users count: <strong>@usersCount</strong>
</div>

<hr>

<ul>
    @foreach (var @event in events.OrderBy(e => e.Date))
    {
        switch (@event)
        {
            case ChatMessageEvent e:
                <li><strong>[@e.Date.ToString("HH:mm:ss")]</strong> @e.Sender : @e.Text</li>
                break;
            case UserJoinedEvent e:
                <li><strong>[@e.Date.ToString("HH:mm:ss")]</strong> User @e.Name joined</li>
                break;
            case UserLeftEvent e:
                <li><strong>[@e.Date.ToString("HH:mm:ss")]</strong> User @e.Name left</li>
                break;
            case UsersCountChangedEvent e:
                <li><strong>[@e.Date.ToString("HH:mm:ss")]</strong> Users count has changed to @e.UsersCount</li>
                break;
        }
    }
</ul>

@code {
    private HubConnection hubConnection;
    private List<EventBase> events = new List<EventBase>();

    private string userName;
    private string text;
    private long usersCount = 0;

    private async Task Send()
    {
        await hubConnection.SendAsync("SendMessage", text);
    }

    private async Task Login()
    {
        await UserService.Login(userName);
        await StartHubConnection();

        await InvokeAsync(StateHasChanged);
    }

    private async Task Logout()
    {
        await UserService.Logout();
        await CloseHubConnection();

        ClearUI();

        await InvokeAsync(StateHasChanged);
    }

    private void ClearUI()
    {
        events.Clear();
        usersCount = 0;
    }

    private async Task CloseHubConnection()
    {
        await hubConnection?.DisposeAsync();
    }

    private async Task StartHubConnection()
    {
        var url = Configuration.GetValue<string>("HubAppAddress");

        hubConnection = new HubConnectionBuilder()
            .WithUrl(url, opt =>
            {
                opt.Headers.Add("Username", UserService.UserName);
            })
            .Build();

        hubConnection.On<ChatMessageEvent>("Message", @event =>
        {
            events.Add(@event);
            StateHasChanged();
        });

        hubConnection.On<UserLeftEvent>("UserLeft", @event =>
        {
            events.Add(@event);
            StateHasChanged();
        });

        hubConnection.On<UserJoinedEvent>("UserJoined", @event =>
        {
            events.Add(@event);
            StateHasChanged();
        });

        hubConnection.On<UsersCountChangedEvent>("UsersCountChanged", @event =>
        {
            usersCount = @event.UsersCount;
            events.Add(@event);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UserService.Initialize();

            if (UserService.IsLogged)
            {
                await StartHubConnection();
            }
        }
    }


    public void Dispose()
    {
        hubConnection?.DisposeAsync();
    }
}
